@import url("https://fonts.googleapis.com/css2?family=Mulish");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}

:root {
  /*========== Colors ==========*/
  --text-color: #acaab2;
  --title-color: black;
  --button-text-color: #458ff6;

  /*========== Font and typography ==========*/

  --normal-font-size: 1.3rem;
  --large-font-size: 2.5rem;
  --mobile-large-font-size: 2rem;
  --smaller-font-size: 0.75rem;
  --small-font-size: 0.9rem;
  --font: Mulish;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
